<template>
  <div class="header container-fluid sticky-top">
    <div class="row">
      <div class="col d-flex justify-content-between align-items-center">
        <img class="logo" src="../assets/logo.svg" alt="Logo">
        <div class="sign-out d-flex justify-content-between align-items-center">
          <img class="triple_dot d-lg-none mr-3" src="../assets/triple_dot.svg" alt="Felhasználó adatlapja">
          <img src="../assets/logout.svg" alt="Kilépés">
          <span class="d-none d-md-inline-block ml-3">Kilépés</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scoped lang="scss">
@import "src/assets/variables";
@import "src/assets/mixins";

.header {
  @include box-style($shadow);
  height: 50px;
  padding: 10px 16px;
  z-index: 5;

  .logo {
    width: 115px;
    height: 30px;
  }

  .triple_dot {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: $triple-dot-bg;
    border-radius: 100%;
  }
}

@include break(768px) {
  .header {
    height: 80px;
    padding: 25px 9% 21px 12%;

    .logo {
      width: 130px;
      height: 34px;
    }

    .triple_dot, .sign-out {
      cursor: pointer;
    }
  }
}
</style>
