<template>
  <div class="main-content col-lg-9">
    <div class="content_header row d-flex col-12 p-0">
      <div class="title" @click="tabIndex=0" :class="{active: tabIndex===0}">Fizetendő tételek</div>
      <div class="title" @click="tabIndex=1" :class="{active: tabIndex===1}">Eseti díj befizetése</div>
      <div class="title" @click="tabIndex=2" :class="{active: tabIndex===2}">Fizetési előzmények</div>
    </div>
    <div class="slider">
      <div class="indicator" :style="`transform: translateX(${(tabIndex*100*(20/18))}%)`"></div>
    </div>
    <div class="content_title row">
      <span class="identifier">Azonosító</span>
      <span class="payment-method">Befizetés módja</span>
      <span class="date">Dátum</span>
      <span class="amount">Összeg</span>
      <span class="status">Státusz</span>
    </div>
    <Payment v-for="(payment, i) in payments" :key="i" :payment="payment" :paymentId="'payment'+i"></Payment>
  </div>
</template>

<script>
import Payment from "./Payment";

export default {
  name: "MainContent",
  props: ["payments"],
  data(){
    return {
      tabIndex: 0
    };
  },
  components: {
    Payment
  }
};
</script>

<style scoped lang="scss">
@import "src/assets/variables";
@import "src/assets/mixins";

.main-content {
  .slider {
    width: 100%;
    height: 3px;
    background-color: $border-color;

    .indicator {
      height: 3px;
      width: 31%;
      background-color: $indicator;
      border-radius: 2px;
      transition: transform .5s ease-out;
    }
  }

  .content_header {
    margin: 0;

    .active {
      font-weight: 600;
    }

    .title {
      width: calc(100% / 3);
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: $title;
      padding: 1rem 0;
      letter-spacing: 0.5px;
    }
  }

  .content_title {
    display: none;
  }
}

@include break(768px) {
  .main-content {
    margin: 0 25px;

    .slider {
      .indicator {
        width: 31%;
      }
    }

    .content_header {
      .title {
        width: calc(100%/3);
        cursor: pointer;
        padding: 40px 0 30px 0;
      }
    }
    .content_title {
      display: grid;
      grid-template-columns: 15px repeat(5, 3fr) repeat(2, 1fr);
      grid-template-rows: 1fr;
      padding: 30px 30px 0 30px;
      grid-template-areas:
        ". identifier payment-method date amount status . .";

      .identifier {
        grid-area: identifier;
      }
      .payment-method {
        grid-area: payment-method;
      }
      .date {
        grid-area: date;
      }
      .amount {
        grid-area: amount;
      }
      .status {
        grid-area: status;
      }
      span {
        line-height: 16px;
        color: $content-title;
        letter-spacing: 0.5px;
      }
    }
  }
}

@include break(1200px) {
  .main-content {
    .slider {
      .indicator {
        width: 18%;
      }
    }

    .content_header {
      .title {
        width: 20%;
        text-align: left;
        letter-spacing: 0.75px;
        cursor: pointer;
      }
    }
  }
}
</style>
