<template>
  <div class="payment d-flex">
    <Head @click="isOpened = !isOpened" :paymentId="paymentId" :payment="payment" :isOpened="isOpened"></Head>
    <div class="collapse" :id="paymentId">
      <Info class="d-md-none" :payment="payment"></Info>
      <Invoice class="invoice"></Invoice>
      <Interval :intervals="payment.intervals"></Interval>
    </div>
  </div>
</template>

<script>
import Head from "./payment/Head";
import Info from "./payment/Info";
import Invoice from "./payment/Invoice";
import Interval from "./payment/Interval";

export default {
  name: "Payment",
  props: ["payment", "paymentId"],
  components: {
    Interval,
    Invoice,
    Info,
    Head
  },
  data() {
    return {
      isOpened: false
    };
  }
};
</script>

<style scoped lang="scss">
@import "src/assets/variables";
@import "src/assets/mixins";

.payment {
  @include box-style($payment-shadow);
  margin: 16px 0;
  background-color: $background;
  flex-direction: column;
}

@include break(768px){
  .payment {
    @include payment-style($payment-shadow);
    .invoice {
      order: 4;
    }
  }
}
</style>
