<template>
  <div class="sideinfo col-3 p-0">
    <div class="title">
      <p class="m-0">Folyamatos Díjfizetésű Ultra Prémium Életbiztosítás</p>
    </div>
    <div class="details">
      <p>Szerződő neve<br>{{ user.name }}</p>
      <p>Szerződésszám<br>{{ user.contractNumber }}</p>
      <p>Utolsó beifzetés<br>{{ user.lastPayment }}</p>
      <p>Biztosítási díj rendezve<br>{{ user.insuranceFeeSettled }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Sideinfo",
  props: ["user"]
};
</script>

<style scoped lang="scss">
@import "src/assets/mixins";

.sideinfo {
  @include box-style($shadow);
  min-height: calc(100vh - 80px);
  padding: 24px 10px 21px 20px;

  .title {
    font-weight: 600;
    border-bottom: 1px solid $border-color;
    color: $title;

    p {
      font-size: 15px;
      padding: 1.5rem 10px 20px 20px;
    }
  }

  .details {
    padding: 25px 20px;

    p {
      margin-bottom: 20px;
    }
  }
}
</style>
