@import "variables";

@mixin break ($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin box-style ($color){
  background: $background;
  box-shadow: 0 2px 12px $color;
  border-radius: 4px;
}

@mixin payment-style($color) {
  background: $background;
  box-shadow: 0 4px 8px $color;
  border-radius: 4px;
}

@mixin mobile-section-style() {
  border-bottom: 1px solid $border-color;
  padding: 20px 25px 20px 15px;
}
