$background: #FFFFFF;
$shadow: rgba(10, 17, 61, 0.1);
$payment-shadow: rgba(0, 0, 0, 0.1);
$triple-dot-bg: #F1F2F4;
$border-color: #F1F2F4;
$main-bg: #E5E5E5;
$main-bg: #FAFAFC;
$title: #283168;
$content-title: #6F7381;
$link: #3D424C;
$received: #01BBA1;
$in-progress: #A1CAFF;
$unsuccessful: #DC414F;
$indicator: #01BBA1;
