<template>
  <div class="app-wrapper">
    <Header></Header>
    <div class="app-content container-md">
        <Sideinfo :user="data.user" class="d-none d-lg-block"></Sideinfo>
        <MainContent :payments="data.payments"></MainContent>
    </div>
  </div>
</template>

<script>
import Header from "./components/Header";
import Sideinfo from "./components/Sideinfo";
import MainContent from "./components/MainContent";
import Mock from "./mock.js";

export default {
  name: "App",
  components: {
    MainContent,
    Header,
    Sideinfo
  },
  data() {
    return {
      tab: "",
      active: true,
      data: Mock
    };
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "src/assets/variables";
@import "src/assets/mixins";

body {
  background-color: $main-bg;

  .app-wrapper {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;

    .app-content {
      display: flex;
    }
  }
}

@include break(768px){
  .app-content {
    width: 100%;
  }
}
</style>
