<template>
  <div class="head py-4">
    <div v-if="payment.id.length > 10" class="chevron-right-wrapper d-none d-md-block" @click.stop="expandId=!expandId">
      <img alt="Azonosító kijezése" class="chevron-right" src="../../assets/chevron-right.svg">
    </div>
    <div
      class="id d-none d-md-block"
      :class="{ 'word-cut': payment.id.length > 10 && !expandId }"
    >{{ payment.id }}</div>
    <span
      class="circle"
      :class="{
        unsuccessful: payment.status === 'Sikertelen',
        received: payment.status === 'Beérkezett',
        'in-progress': payment.status === 'Folyamatban'
    }">⬤</span>
    <div class="status smaller-letter">{{ payment.status }}</div>
    <div class="method d-none d-md-block">{{ payment.paymentMethod }}</div>
    <div class="amount">{{ payment.amount || "0 Ft" }}</div>
    <div class="date smaller-letter">
      <span class="d-md-none">Fizetési dátum: </span>
      {{ payment.date }}
    </div>
    <img v-if="payment.hasAttachment" alt="Csatolmány található" class="clip m-1" src="../../assets/clip.svg">
    <div
      class="chevron-wrapper"
      @click="$emit('click')"
      data-toggle="collapse"
      :data-target="`#${paymentId}`"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      <img
        class="chevron"
        src="../../assets/chevron.svg"
        :class="{rotated: isOpened}"
        alt="Részletek mutatása"
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "Head",
  props: ["payment", "isOpened", "paymentId"],
  data(){
    return {
      expandId: false
    }
  }
};
</script>

<style scoped lang="scss">
@import "src/assets/variables";
@import "src/assets/mixins";

.head {
  border-bottom: 1px solid $border-color;
  display: grid;
  grid-template-columns: 1fr auto 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "circle status status chevron"
    "circle amount clip chevron"
    "circle date clip chevron";

  .chevron-right-wrapper {
    .chevron-right {
      cursor: pointer;
    }
  }
  .circle {
    grid-area: circle;
    justify-self: center;
    align-self: center;
    font-size: 12px;
  }
  .status {
    grid-area: status;
  }
  .amount {
    grid-area: amount;
    font-weight: 600;
  }
  .date {
    grid-area: date;
  }
  .clip {
    grid-area: clip;
    width: 16px;
    height: 16px;
    align-self: flex-end;
  }
  .chevron-wrapper {
    grid-area: chevron;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-height: 24px;
    height: auto;

    .chevron {
      transition: all 0.25s linear;
    }
  }
  .rotated {
    transform: rotate(-180deg);
  }
  .smaller-letter {
    font-size: 12px;
  }
  .unsuccessful {
    color: $unsuccessful;
  }
  .in-progress {
    color: $in-progress;
  }
  .received {
    color: $received;
  }
  .word-cut {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 60%;
  }
}

@include break(768px){
  .head {
    display: grid;
    grid-template-columns: 15px repeat(5, 3fr) repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "chevron-right id method date amount circle-status clip chevron";
    align-items: center;
    padding: 0 1.5rem;
    border-bottom: 1px solid $border-color;

    .chevron-right-wrapper {
      grid-area: chevron-right;
    }
    .id {
      grid-area: id;
    }
    .method {
      grid-area: method;
    }
    .circle {
      font-size: 6px;
      align-self: center;
      justify-self: flex-start;
      grid-area: circle-status;
    }
    .status {
      grid-area: circle-status;
      padding-left: 14px;
    }
    .amount {
      font-size: 16px;
    }
    .clip {
      grid-area: clip;
    }
    .smaller-letter {
      font-size: 14px;
    }
  }
}
</style>
