<template>
  <div class="info">
    <p>
      <span class="smaller-letter">Státusz</span><br>
      <span>{{ payment.status }}</span>
    </p>
    <p>
      <span class="smaller-letter">Azonosító</span><br>
      <span>{{ payment.id }}</span>
    </p>
    <p class="m-0">
      <span class="smaller-letter">Hogyan</span><br>
      <span>{{ payment.paymentMethod }}</span>
    </p>
  </div>
</template>

<script>
export default {
  name: "Info",
  props: ["payment"]
}
</script>

<style scoped lang="scss">
@import "src/assets/variables";
@import "src/assets/mixins";

.info {
  @include mobile-section-style;

  .smaller-letter {
    font-size: 12px;
  }
}
</style>
