<template>
  <div class="intervals d-flex flex-column">
    <div class="interval" v-for="(interval, i) in intervals" :key="i">
      <p class="period">
        <span class="smaller-letter d-md-none">Időszak</span>
        <span class="smaller-letter d-none d-sm-inline-block">Biztosítási időszak</span><br>
        <span class="larger-letter">{{ interval.insuranceInterval }}</span>
      </p>
      <p class="pre-fee m-0">
        <span class="smaller-letter">Díjelőírás</span><br>
        <span class="larger-letter">{{ interval.amount }}</span>
      </p>
      <p class="final-fee m-0">
        <span class="smaller-letter">Könyvelt díj</span><br>
        <span class="font-weight-bold larger-letter">{{ interval.amount }}</span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Intervall",
  props: ["intervals"]
};
</script>

<style scoped lang="scss">
@import "src/assets/variables";
@import "src/assets/mixins";

.intervals {
  .interval {
    border-bottom: 1px solid $border-color;
    padding: 20px 25px 20px 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "period period"
      "pre-fee final-fee";

    .period {
      grid-area: period;
    }
    .pre-fee {
      grid-area: pre-fee;
    }
    .final-fee {
      grid-area: final-fee;
    }
    .smaller-letter {
      font-size: 12px;
    }
  }
}

@include break(768px) {
  .intervals {
    .interval {
      padding: 20px 25px 20px 1.5rem;
      display: grid;
      grid-template-columns: 15px repeat(5, 3fr) repeat(2, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
        ". period period pre-fee final-fee . . .";

      .period {
        grid-area: period;
        margin: 0;
      }
      .pre-fee {
        grid-area: pre-fee;
      }
      .final-fee {
        grid-area: final-fee;
      }
      .smaller-letter {
        font-size: 14px;
      }
      .larger-letter {
        font-size: 15px;
      }
    }
  }
}
</style>
