<template>
  <div class="payment-details">
    <div class="invoice">
      <p class="smaller-letter">Csatolmány</p>
      <a :href="require('../../assets/invoice.png')" download class="d-flex justify-content-between">
        <span>
          <img src="../../assets/pdf.svg" alt="Nyugta letöltése">
          <span class="mx-2">Fizetési nyugta letöltése</span>
        </span>
        <img class="d-md-none" src="../../assets/download.svg" alt="Nyugta letöltése">
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Invoice"
}
</script>

<style scoped lang="scss">
@import "src/assets/variables";
@import "src/assets/mixins";

.payment-details {
  @include mobile-section-style;

  .smaller-letter {
    font-size: 12px;
  }

  a:link, a:visited, a:active {
    color: $link;
    text-decoration: none;
  }
}

@include break(768px){
  .payment-details {
    padding: 20px 25px 20px 1.5rem;
    display: grid;
    grid-template-columns: 15px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      ". invoice";

    .invoice {
      grid-area: invoice;

      .smaller-letter {
        font-size: 14px;
      }

      a:link, a:visited, a:active {
        color: $link;
        text-decoration: none;
        width: fit-content;
      }
    }
  }
}
</style>
